.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(54.00000058114529, 100.00000163912773, 237.0000010728836, 1);
	width:1536px;
	height:790px;
	position:absolute;
}.e1_3 { 
	width:1200px;
	height:799px;
	position:absolute;
	left:168px;
	top:-9px;
	background-image:url(images/26b4b7f5_ea19_47c1_8d3c_1d48dd824986_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:524px;
	height:32px;
	position:absolute;
	left:506px;
	top:45px;
}.e1_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:126px;
	height:8px;
	position:absolute;
	left:481px;
	top:130px;
}.e1_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:27px;
	position:absolute;
	left:475px;
	top:166px;
}.e1_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:57px;
	height:17px;
	position:absolute;
	left:504px;
	top:168px;
}.e1_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:57px;
	height:8px;
	position:absolute;
	left:504px;
	top:185px;
}.e1_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:10px;
	position:absolute;
	left:774px;
	top:175px;
}.e1_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:34px;
	height:10px;
	position:absolute;
	left:802px;
	top:175px;
}.e1_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:10px;
	position:absolute;
	left:842px;
	top:175px;
}.e1_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:21px;
	height:10px;
	position:absolute;
	left:877px;
	top:175px;
}.e1_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:19px;
	height:10px;
	position:absolute;
	left:907px;
	top:175px;
}.e1_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:10px;
	position:absolute;
	left:934px;
	top:175px;
}.e1_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:23px;
	height:10px;
	position:absolute;
	left:970px;
	top:175px;
}.e1_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:10px;
	position:absolute;
	left:1001px;
	top:175px;
}.e1_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:126px;
	height:19px;
	position:absolute;
	left:694px;
	top:349px;
}.e1_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:351px;
	height:33px;
	position:absolute;
	left:582px;
	top:377px;
}.e1_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:341px;
	height:11px;
	position:absolute;
	left:581px;
	top:416px;
}.e1_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:232px;
	height:9px;
	position:absolute;
	left:636px;
	top:429px;
}.e1_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:43px;
	height:8px;
	position:absolute;
	left:734px;
	top:463px;
}.e1_22 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:85px;
	height:27px;
	position:absolute;
	left:714px;
	top:453px;
}.e1_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:65px;
	height:10px;
	position:absolute;
	left:498px;
	top:681px;
}.e1_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:64px;
	height:10px;
	position:absolute;
	left:682px;
	top:681px;
}.e1_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:106px;
	height:12px;
	position:absolute;
	left:865px;
	top:681px;
}.e1_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:139px;
	height:32px;
	position:absolute;
	left:498px;
	top:716px;
}.e1_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:139px;
	height:32px;
	position:absolute;
	left:682px;
	top:716px;
}.e1_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:139px;
	height:32px;
	position:absolute;
	left:864px;
	top:716px;
}.e1_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:39px;
	height:7px;
	position:absolute;
	left:498px;
	top:764px;
}.e1_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:39px;
	height:7px;
	position:absolute;
	left:682px;
	top:764px;
}.e1_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:39px;
	height:7px;
	position:absolute;
	left:865px;
	top:764px;
}.e1_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:127px;
	height:8px;
	position:absolute;
	left:904px;
	top:130px;
}