.301_2 { 
	overflow:hidden;
}.e301_2 { 
	background-color:rgba(40.00000141561031, 40.00000141561031, 40.00000141561031, 1);
	width:1536px;
	height:790px;
	position:absolute;
}.e301_14 { 
	width:1416px;
	height:790px;
	position:absolute;
	left:60px;
	top:0px;
}.e301_7 { 
	width:1416px;
	height:790px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e301_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:80px;
	height:18px;
	position:absolute;
	left:862px;
	top:30px;
}.e301_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:49px;
	height:18px;
	position:absolute;
	left:969px;
	top:30px;
}.e301_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:70px;
	height:18px;
	position:absolute;
	left:1038px;
	top:30px;
}.e301_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:95px;
	height:18px;
	position:absolute;
	left:1134px;
	top:30px;
}.e301_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:145px;
	height:47px;
	position:absolute;
	left:193px;
	top:467px;
}.e301_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:145px;
	height:47px;
	position:absolute;
	left:369px;
	top:467px;
}