.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(253.0000001192093, 240.00000089406967, 234.00000125169754, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e30_30 { 
	width:1189.0076904296875px;
	height:792px;
	position:absolute;
	left:173px;
	top:0px;
	background-image:url(images/39f023aa_10be_47bb_83cd_59ba6ec3ff8f_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e30_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:400px;
	height:37px;
	position:absolute;
	left:567px;
	top:104px;
}.e30_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:264px;
	height:39px;
	position:absolute;
	left:638px;
	top:149px;
}.e31_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:34px;
	height:11px;
	position:absolute;
	left:395px;
	top:312px;
}.e31_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:51px;
	height:11px;
	position:absolute;
	left:546px;
	top:312px;
}.e31_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:35px;
	height:11px;
	position:absolute;
	left:607px;
	top:312px;
}.e31_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:11px;
	position:absolute;
	left:652px;
	top:312px;
}.e31_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:23px;
	height:11px;
	position:absolute;
	left:685px;
	top:312px;
}.e31_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:7px;
	position:absolute;
	left:745px;
	top:314px;
}.e31_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:195.3000030517578px;
	height:2px;
	position:absolute;
	left:739px;
	top:324.29998779296875px;
}.e31_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:11px;
	height:11px;
	position:absolute;
	left:920px;
	top:312px;
}.e31_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:157px;
	height:18px;
	position:absolute;
	left:482px;
	top:436px;
}.e31_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:56px;
	height:2px;
	position:absolute;
	left:663px;
	top:444px;
}.e31_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:269px;
	height:50px;
	position:absolute;
	left:484px;
	top:479px;
}.e31_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:92px;
	height:29px;
	position:absolute;
	left:484px;
	top:552px;
}.e31_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:3px;
	height:26px;
	position:absolute;
	left:572px;
	top:554px;
}.e31_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:87px;
	height:3px;
	position:absolute;
	left:485px;
	top:577px;
}.e31_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:39px;
	height:7px;
	position:absolute;
	left:509px;
	top:562px;
}.e31_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:82px;
	height:9px;
	position:absolute;
	left:395px;
	top:694px;
}.e31_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:9px;
	height:9px;
	position:absolute;
	left:1054px;
	top:694px;
}.e31_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:9px;
	height:9px;
	position:absolute;
	left:1068px;
	top:694px;
}.e31_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:9px;
	height:9px;
	position:absolute;
	left:1082px;
	top:694px;
}.e31_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:12px;
	height:9px;
	position:absolute;
	left:1096px;
	top:694px;
}.e31_22 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:12px;
	height:9px;
	position:absolute;
	left:1113px;
	top:694px;
}.e31_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:12px;
	height:9px;
	position:absolute;
	left:1130px;
	top:694px;
}.e31_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:149px;
	height:118px;
	position:absolute;
	left:173px;
	top:0px;
}.e31_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:92px;
	height:185px;
	position:absolute;
	left:1270px;
	top:392px;
}