.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(1.0000000591389835, 195.0000035762787, 169.00000512599945, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e42_143 { 
	width:1187px;
	height:792px;
	position:absolute;
	left:174px;
	top:0px;
	background-image:url(images/821c927f_de6a_4c83_90f2_e512fd56dd03_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e43_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:838px;
	height:54px;
	position:absolute;
	left:349px;
	top:93px;
}.e43_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:508px;
	height:23px;
	position:absolute;
	left:514px;
	top:173px;
}.e43_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:13px;
	position:absolute;
	left:401px;
	top:305px;
}.e43_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:35px;
	height:11px;
	position:absolute;
	left:423px;
	top:307px;
}.e43_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:8px;
	height:8px;
	position:absolute;
	left:520px;
	top:308px;
}.e43_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:9px;
	position:absolute;
	left:531px;
	top:308px;
}.e43_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:131px;
	height:20px;
	position:absolute;
	left:957px;
	top:303px;
}.e43_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:9px;
	position:absolute;
	left:1070px;
	top:308px;
}.e43_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:65px;
	height:8px;
	position:absolute;
	left:967px;
	top:309px;
}.e43_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:11px;
	height:9px;
	position:absolute;
	left:1096px;
	top:308px;
}.e43_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:10px;
	position:absolute;
	left:1105px;
	top:303px;
}.e43_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:22px;
	position:absolute;
	left:1118px;
	top:301px;
}.e43_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:7px;
	position:absolute;
	left:400px;
	top:337px;
}.e43_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:117px;
	height:12px;
	position:absolute;
	left:517px;
	top:340px;
}.e43_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:136px;
	height:10px;
	position:absolute;
	left:517px;
	top:356px;
}.e43_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:53px;
	height:10px;
	position:absolute;
	left:1016px;
	top:348px;
}.e43_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:32px;
	height:11px;
	position:absolute;
	left:1081px;
	top:348px;
}.e43_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:5px;
	position:absolute;
	left:1126px;
	top:351px;
}.e43_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:32px;
	height:30px;
	position:absolute;
	left:532px;
	top:399px;
}.e43_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:25px;
	height:13px;
	position:absolute;
	left:570px;
	top:401px;
}.e43_22 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:23px;
	height:8px;
	position:absolute;
	left:598px;
	top:406px;
}.e43_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:49px;
	height:7px;
	position:absolute;
	left:570px;
	top:418px;
}.e43_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:31px;
	height:30px;
	position:absolute;
	left:740px;
	top:399px;
}.e43_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:13px;
	position:absolute;
	left:779px;
	top:401px;
}.e43_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:29px;
	height:9px;
	position:absolute;
	left:797px;
	top:406px;
}.e43_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:29px;
	height:8px;
	position:absolute;
	left:779px;
	top:418px;
}.e43_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:32px;
	height:31px;
	position:absolute;
	left:947px;
	top:398px;
}.e43_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:24px;
	height:13px;
	position:absolute;
	left:987px;
	top:401px;
}.e43_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:20px;
	height:10px;
	position:absolute;
	left:1014px;
	top:405px;
}.e43_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:31px;
	height:9px;
	position:absolute;
	left:986px;
	top:417px;
}.e43_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:71px;
	height:11px;
	position:absolute;
	left:533px;
	top:461px;
}.e43_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:87px;
	height:9px;
	position:absolute;
	left:532px;
	top:474px;
}.e43_34 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:8px;
	position:absolute;
	left:594px;
	top:508px;
}.e43_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:15px;
	height:10px;
	position:absolute;
	left:632px;
	top:508px;
}.e43_36 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:169px;
	height:85px;
	position:absolute;
	left:538px;
	top:554px;
}.e43_37 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:532px;
	top:536px;
}.e43_53 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:740px;
	top:536px;
}.e43_38 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:532px;
	top:552px;
}.e43_54 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:740px;
	top:560px;
}.e43_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:532px;
	top:568px;
}.e43_55 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:740px;
	top:585px;
}.e43_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:532px;
	top:585px;
}.e43_41 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:532px;
	top:600px;
}.e43_56 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:740px;
	top:608px;
}.e43_42 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:532px;
	top:616px;
}.e43_43 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:532px;
	top:616px;
}.e43_45 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:532px;
	top:633px;
}.e43_46 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:538px;
	top:639px;
}.e43_47 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:565px;
	top:639px;
}.e43_48 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:593px;
	top:639px;
}.e43_49 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:621px;
	top:639px;
}.e43_50 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:648px;
	top:639px;
}.e43_51 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:677px;
	top:639px;
}.e43_52 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:704px;
	top:639px;
}.e44_57 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:8px;
	position:absolute;
	left:740px;
	top:632px;
}.e44_58 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:6px;
	position:absolute;
	left:749px;
	top:640px;
}.e44_59 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:6px;
	position:absolute;
	left:770px;
	top:640px;
}.e44_60 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:6px;
	position:absolute;
	left:793px;
	top:640px;
}.e44_61 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:6px;
	position:absolute;
	left:816px;
	top:640px;
}.e44_62 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:6px;
	position:absolute;
	left:839px;
	top:640px;
}.e44_63 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:6px;
	position:absolute;
	left:862px;
	top:640px;
}.e44_64 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:6px;
	position:absolute;
	left:884px;
	top:640px;
}.e44_65 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:6px;
	position:absolute;
	left:906px;
	top:640px;
}.e44_66 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:165px;
	height:87px;
	position:absolute;
	left:747px;
	top:550px;
}.e44_67 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:948px;
	top:537px;
}.e44_68 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:948px;
	top:553px;
}.e44_69 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:6px;
	position:absolute;
	left:948px;
	top:569px;
}.e44_70 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:948px;
	top:584px;
}.e44_71 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:948px;
	top:600px;
}.e44_72 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:948px;
	top:617px;
}.e44_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:948px;
	top:633px;
}.e44_74 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:948px;
	top:633px;
}.e44_75 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:953px;
	top:639px;
}.e44_76 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:976px;
	top:639px;
}.e44_77 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:999px;
	top:639px;
}.e44_78 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:1024px;
	top:639px;
}.e44_79 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:1046px;
	top:639px;
}.e44_80 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:1071px;
	top:639px;
}.e44_81 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:1093px;
	top:639px;
}.e44_82 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:1117px;
	top:639px;
}.e44_85 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:165px;
	height:71px;
	position:absolute;
	left:955px;
	top:553px;
}.e44_86 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:9px;
	position:absolute;
	left:740px;
	top:461px;
}.e44_87 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:80px;
	height:9px;
	position:absolute;
	left:741px;
	top:474px;
}.e44_88 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:11px;
	position:absolute;
	left:893px;
	top:460px;
}.e44_93 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:11px;
	position:absolute;
	left:1101px;
	top:460px;
}.e44_89 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:4px;
	height:10px;
	position:absolute;
	left:909px;
	top:461px;
}.e44_94 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:4px;
	height:10px;
	position:absolute;
	left:1117px;
	top:461px;
}.e44_90 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:44px;
	height:8px;
	position:absolute;
	left:777px;
	top:508px;
}.e44_91 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:25px;
	height:9px;
	position:absolute;
	left:948px;
	top:461px;
}.e44_92 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:82px;
	height:9px;
	position:absolute;
	left:948px;
	top:474px;
}.e44_95 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:40px;
	height:8px;
	position:absolute;
	left:839px;
	top:508px;
}.e44_96 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:9px;
	position:absolute;
	left:998px;
	top:508px;
}.e44_97 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:9px;
	position:absolute;
	left:1044px;
	top:508px;
}.e44_98 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:8px;
	height:8px;
	position:absolute;
	left:1170px;
	top:335px;
}.e44_99 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:80px;
	height:10px;
	position:absolute;
	left:1189px;
	top:365px;
}.e44_100 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:40px;
	height:6px;
	position:absolute;
	left:1195px;
	top:367px;
}.e44_101 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:6px;
	position:absolute;
	left:1258px;
	top:367px;
}.e44_102 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:7px;
	height:7px;
	position:absolute;
	left:1273px;
	top:366px;
}.e44_103 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:7px;
	height:7px;
	position:absolute;
	left:1278px;
	top:363px;
}.e44_104 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:13px;
	height:13px;
	position:absolute;
	left:1287px;
	top:363px;
}.e44_105 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:7px;
	position:absolute;
	left:1220px;
	top:419px;
}.e44_106 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:70px;
	height:20px;
	position:absolute;
	left:1220px;
	top:438px;
}.e44_107 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:6px;
	position:absolute;
	left:1226px;
	top:468px;
}.e44_108 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:41px;
	height:14px;
	position:absolute;
	left:1219px;
	top:464px;
}.e44_109 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:45px;
	height:16px;
	position:absolute;
	left:1168px;
	top:454px;
}.e44_110 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:6px;
	position:absolute;
	left:1184px;
	top:522px;
}.e44_111 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:7px;
	height:6px;
	position:absolute;
	left:1180px;
	top:497px;
}.e44_112 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:7px;
	height:6px;
	position:absolute;
	left:1204px;
	top:497px;
}.e44_113 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:66px;
	height:7px;
	position:absolute;
	left:1184px;
	top:530px;
}.e44_114 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:6px;
	height:7px;
	position:absolute;
	left:1277px;
	top:522px;
}.e44_115 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:3px;
	height:5px;
	position:absolute;
	left:1286px;
	top:523px;
}.e44_116 { 
	background-color:rgba(255, 255, 255, 1);
	width:4px;
	height:70px;
	position:absolute;
	left:1183px;
	top:546px;
}.e44_117 { 
	background-color:rgba(254.00000005960464, 254.00000005960464, 252.00000017881393, 1);
	width:101px;
	height:6px;
	position:absolute;
	left:1187px;
	top:615px;
}.e44_118 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:102px;
	height:58px;
	position:absolute;
	left:1187px;
	top:557px;
}.e44_119 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:20px;
	height:7px;
	position:absolute;
	left:1184px;
	top:641px;
}.e44_120 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:71px;
	height:5px;
	position:absolute;
	left:1184px;
	top:649px;
}.e44_121 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:4px;
	height:4px;
	position:absolute;
	left:1286px;
	top:642px;
}.e44_122 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:8px;
	height:7px;
	position:absolute;
	left:1283px;
	top:640px;
}.e44_123 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:15px;
	position:absolute;
	left:1183px;
	top:666px;
}.e44_124 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:49px;
	height:6px;
	position:absolute;
	left:1203px;
	top:667px;
}.e44_125 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:77px;
	height:29px;
	position:absolute;
	left:1203px;
	top:675px;
}.e44_126 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:11px;
	height:10px;
	position:absolute;
	left:1168px;
	top:715px;
}.e44_127 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:9px;
	height:9px;
	position:absolute;
	left:764px;
	top:278px;
}.e44_128 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:7px;
	position:absolute;
	left:402px;
	top:358px;
}.e44_129 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:9px;
	height:10px;
	position:absolute;
	left:404px;
	top:378px;
}.e44_130 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:8px;
	position:absolute;
	left:404px;
	top:400px;
}.e44_131 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:8px;
	position:absolute;
	left:403px;
	top:421px;
}.e44_132 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:44px;
	height:9px;
	position:absolute;
	left:400px;
	top:443px;
}.e44_133 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:13px;
	height:11px;
	position:absolute;
	left:401px;
	top:463px;
}.e44_134 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:20px;
	height:11px;
	position:absolute;
	left:424px;
	top:463px;
}.e44_135 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:12px;
	height:13px;
	position:absolute;
	left:402px;
	top:484px;
}.e44_136 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:12px;
	height:12px;
	position:absolute;
	left:402px;
	top:505px;
}.e44_137 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:11px;
	height:7px;
	position:absolute;
	left:402px;
	top:529px;
}.e44_138 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:13px;
	position:absolute;
	left:403px;
	top:547px;
}.e44_139 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:15px;
	height:9px;
	position:absolute;
	left:401px;
	top:572px;
}.e44_140 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:44px;
	height:8px;
	position:absolute;
	left:400px;
	top:593px;
}.e44_141 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:10px;
	position:absolute;
	left:423px;
	top:486px;
}.e44_142 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:20px;
	height:9px;
	position:absolute;
	left:424px;
	top:507px;
}.e44_143 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:9px;
	position:absolute;
	left:424px;
	top:528px;
}.e44_144 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:8px;
	position:absolute;
	left:424px;
	top:550px;
}.e44_145 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:8px;
	position:absolute;
	left:476px;
	top:466px;
}.e44_146 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:7px;
	position:absolute;
	left:479px;
	top:487px;
}.e44_147 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:8px;
	position:absolute;
	left:476px;
	top:551px;
}.e44_148 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:5px;
	position:absolute;
	left:495px;
	top:466px;
}.e44_149 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:5px;
	position:absolute;
	left:495px;
	top:488px;
}.e44_150 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:5px;
	position:absolute;
	left:495px;
	top:509px;
}.e44_151 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:5px;
	position:absolute;
	left:495px;
	top:530px;
}.e44_152 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:5px;
	position:absolute;
	left:495px;
	top:552px;
}.e44_153 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:31px;
	height:9px;
	position:absolute;
	left:424px;
	top:422px;
}.e44_154 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:9px;
	position:absolute;
	left:424px;
	top:401px;
}.e44_155 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:20px;
	height:9px;
	position:absolute;
	left:424px;
	top:380px;
}.e44_156 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:41px;
	height:9px;
	position:absolute;
	left:424px;
	top:357px;
}.e44_157 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:9px;
	position:absolute;
	left:476px;
	top:380px;
}.e44_158 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:7px;
	height:4px;
	position:absolute;
	left:493px;
	top:381px;
}.e44_159 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:7px;
	height:4px;
	position:absolute;
	left:493px;
	top:402px;
}.e44_160 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:16px;
	position:absolute;
	left:1183px;
	top:688px;
}.e44_161 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:26px;
	position:absolute;
	left:400px;
	top:684px;
}.e45_162 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:44px;
	height:10px;
	position:absolute;
	left:433px;
	top:687px;
}.e45_163 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:8px;
	height:8px;
	position:absolute;
	left:433px;
	top:699px;
}.e45_164 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:20px;
	height:6px;
	position:absolute;
	left:445px;
	top:700px;
}.e45_165 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:62px;
	height:10px;
	position:absolute;
	left:532px;
	top:680px;
}.e45_166 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:12px;
	position:absolute;
	left:594px;
	top:679px;
}.e45_167 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:56px;
	height:8px;
	position:absolute;
	left:532px;
	top:694px;
}.e45_168 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:23px;
	height:9px;
	position:absolute;
	left:845px;
	top:680px;
}.e45_169 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:55px;
	height:7px;
	position:absolute;
	left:845px;
	top:693px;
}.e45_170 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:11px;
	position:absolute;
	left:1101px;
	top:679px;
}.e45_171 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:3px;
	height:9px;
	position:absolute;
	left:1117px;
	top:680px;
}.e45_172 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:8px;
	height:6px;
	position:absolute;
	left:216px;
	top:449px;
}.e45_173 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:45px;
	height:8px;
	position:absolute;
	left:231px;
	top:448px;
}.e45_174 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:94px;
	height:9px;
	position:absolute;
	left:211px;
	top:469px;
}.e45_175 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:9px;
	position:absolute;
	left:219px;
	top:489px;
}.e45_176 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:107px;
	height:8px;
	position:absolute;
	left:219px;
	top:512px;
}.e45_177 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:124px;
	height:8px;
	position:absolute;
	left:218px;
	top:522px;
}.e45_178 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:49px;
	height:16px;
	position:absolute;
	left:218px;
	top:540px;
}.e45_179 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:32px;
	height:7px;
	position:absolute;
	left:226px;
	top:545px;
}.e45_180 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:33px;
	height:9px;
	position:absolute;
	left:217px;
	top:570px;
}.e45_181 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:99px;
	height:9px;
	position:absolute;
	left:219px;
	top:579px;
}.e45_182 { 
	background-color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1);
	width:10px;
	height:69px;
	position:absolute;
	left:215px;
	top:603px;
}.e45_183 { 
	background-color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1);
	width:8px;
	height:49px;
	position:absolute;
	left:225px;
	top:604px;
}.e45_184 { 
	background-color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1);
	width:116px;
	height:9px;
	position:absolute;
	left:225px;
	top:664px;
}.e45_185 { 
	background-color:rgba(66.00000366568565, 66.00000366568565, 66.00000366568565, 1);
	width:2px;
	height:2px;
	position:absolute;
	left:225px;
	top:659px;
}.e45_186 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:116px;
	height:50px;
	position:absolute;
	left:225px;
	top:613px;
}.e45_187 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:7px;
	height:8px;
	position:absolute;
	left:299px;
	top:448px;
}.e45_188 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:8px;
	height:7px;
	position:absolute;
	left:305px;
	top:445px;
}.e45_189 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:15px;
	height:16px;
	position:absolute;
	left:316px;
	top:444px;
}.e45_190 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:3px;
	height:8px;
	position:absolute;
	left:341px;
	top:448px;
}