.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1536px;
	height:790px;
	position:absolute;
}.e3_18 { 
	width:1536px;
	height:790px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_19 { 
	width:1536px;
	height:790px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/________1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_3 { 
	width:1184.7093505859375px;
	height:790px;
	position:absolute;
	left:176px;
	top:0px;
	background-image:url(images/ccfc951a_de24_4651_8d52_47f774628eb3_1_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:64px;
	height:14px;
	position:absolute;
	left:177px;
	top:21px;
}.e3_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:24px;
	height:8px;
	position:absolute;
	left:968px;
	top:24px;
}.e3_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:38px;
	height:8px;
	position:absolute;
	left:1009px;
	top:24px;
}.e3_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:43px;
	height:8px;
	position:absolute;
	left:1065px;
	top:24px;
}.e3_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:38px;
	height:8px;
	position:absolute;
	left:1127px;
	top:24px;
}.e3_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:8px;
	position:absolute;
	left:1182px;
	top:24px;
}.e3_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:21px;
	height:8px;
	position:absolute;
	left:1227px;
	top:24px;
}.e3_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:8px;
	position:absolute;
	left:1266px;
	top:24px;
}.e3_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:38px;
	height:8px;
	position:absolute;
	left:1306px;
	top:24px;
}.e3_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:284px;
	height:15px;
	position:absolute;
	left:474px;
	top:288px;
}.e3_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:563px;
	height:70px;
	position:absolute;
	left:476px;
	top:367px;
}.e3_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:313px;
	height:47px;
	position:absolute;
	left:473px;
	top:469px;
}.e3_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:94px;
	height:10px;
	position:absolute;
	left:505px;
	top:576px;
}.e3_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:159px;
	height:35px;
	position:absolute;
	left:473px;
	top:564px;
}