.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(255, 193.00000369548798, 85.0000025331974, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e14_22 { 
	width:1536px;
	height:559.4569091796875px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/about_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e14_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:144px;
	height:20px;
	position:absolute;
	left:840px;
	top:146px;
}.e14_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:457px;
	height:143px;
	position:absolute;
	left:840px;
	top:190px;
}.e14_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:132px;
	height:43px;
	position:absolute;
	left:840px;
	top:361px;
}.e14_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:74px;
	height:12px;
	position:absolute;
	left:868px;
	top:376px;
}.e14_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:768px;
	height:559px;
	position:absolute;
	left:0px;
	top:0px;
}