.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(255, 193.00000369548798, 85.0000025331974, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e23_15 { 
	width:1497px;
	height:792px;
	position:absolute;
	left:19px;
	top:0px;
	background-image:url(images/clients_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e23_26 { 
	width:864px;
	height:491px;
	position:absolute;
	left:396px;
	top:124px;
}.e23_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:211px;
	height:19px;
	position:absolute;
	left:266px;
	top:0px;
}.e23_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:334px;
	height:17px;
	position:absolute;
	left:203px;
	top:26px;
}.e23_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:321px;
	height:97px;
	position:absolute;
	left:0px;
	top:131px;
}.e23_22 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:333px;
	height:97px;
	position:absolute;
	left:531px;
	top:131px;
}.e23_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:333px;
	height:97px;
	position:absolute;
	left:531px;
	top:362px;
}.e23_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:224px;
	height:12px;
	position:absolute;
	left:17px;
	top:249px;
}.e23_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:242px;
	height:12px;
	position:absolute;
	left:548px;
	top:249px;
}.e23_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:224px;
	height:12px;
	position:absolute;
	left:17px;
	top:479px;
}.e23_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:157px;
	height:12px;
	position:absolute;
	left:548px;
	top:479px;
}.e23_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:321px;
	height:97px;
	position:absolute;
	left:0px;
	top:362px;
}