.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e25_27 { 
	width:1161px;
	height:794px;
	position:absolute;
	left:187px;
	top:0px;
	background-image:url(images/contact_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_50 { 
	width:639px;
	height:656px;
	position:absolute;
	left:447px;
	top:105px;
}.e25_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:144px;
	height:16px;
	position:absolute;
	left:249px;
	top:0px;
}.e25_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:240px;
	height:13px;
	position:absolute;
	left:201px;
	top:21px;
}.e25_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:212px;
	height:34px;
	position:absolute;
	left:0px;
	top:58px;
}.e25_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:267px;
	height:34px;
	position:absolute;
	left:217px;
	top:58px;
}.e25_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:150px;
	height:34px;
	position:absolute;
	left:489px;
	top:58px;
}.e25_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:47px;
	height:8px;
	position:absolute;
	left:298px;
	top:199px;
}.e25_34 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:64px;
	height:8px;
	position:absolute;
	left:289px;
	top:220px;
}.e25_36 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:90px;
	height:8px;
	position:absolute;
	left:276px;
	top:236px;
}.e25_37 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:90px;
	height:10px;
	position:absolute;
	left:278px;
	top:252px;
}.e25_38 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:86px;
	height:10px;
	position:absolute;
	left:278px;
	top:269px;
}.e25_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:99px;
	height:10px;
	position:absolute;
	left:272px;
	top:285px;
}.e25_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:36px;
	height:33px;
	position:absolute;
	left:303px;
	top:358px;
}.e25_42 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:36px;
	height:9px;
	position:absolute;
	left:123px;
	top:587px;
}.e25_41 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:9px;
	position:absolute;
	left:72px;
	top:587px;
}.e25_43 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:45px;
	height:9px;
	position:absolute;
	left:182px;
	top:587px;
}.e25_44 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:65px;
	height:9px;
	position:absolute;
	left:250px;
	top:587px;
}.e25_45 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:63px;
	height:9px;
	position:absolute;
	left:337px;
	top:587px;
}.e25_46 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:67px;
	height:9px;
	position:absolute;
	left:424px;
	top:587px;
}.e25_47 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:56px;
	height:9px;
	position:absolute;
	left:513px;
	top:587px;
}.e25_48 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:119px;
	height:14px;
	position:absolute;
	left:262px;
	top:614px;
}.e25_49 { 
	background-color:rgba(255, 255, 255, 1);
	width:81px;
	height:19px;
	position:absolute;
	left:279px;
	top:637px;
}