.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e13_4 { 
	width:1537px;
	height:699px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/services_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e13_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:205px;
	height:22px;
	position:absolute;
	left:667px;
	top:45px;
}.e13_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:336px;
	height:19px;
	position:absolute;
	left:601px;
	top:72px;
}.e13_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:166px;
	height:14px;
	position:absolute;
	left:311px;
	top:171px;
}.e13_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:391px;
	height:53px;
	position:absolute;
	left:310px;
	top:202px;
}.e13_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:193px;
	height:13px;
	position:absolute;
	left:309px;
	top:325px;
}.e13_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:404px;
	height:54px;
	position:absolute;
	left:311px;
	top:354px;
}.e13_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:112px;
	height:13px;
	position:absolute;
	left:311px;
	top:478px;
}.e13_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:381px;
	height:55px;
	position:absolute;
	left:310px;
	top:507px;
}.e13_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:190px;
	height:13px;
	position:absolute;
	left:871px;
	top:172px;
}.e13_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:428px;
	height:54px;
	position:absolute;
	left:871px;
	top:201px;
}.e13_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:192px;
	height:13px;
	position:absolute;
	left:871px;
	top:325px;
}.e13_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:401px;
	height:81px;
	position:absolute;
	left:871px;
	top:325px;
}.e13_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:259px;
	height:13px;
	position:absolute;
	left:871px;
	top:478px;
}.e13_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:381px;
	height:55px;
	position:absolute;
	left:310px;
	top:507px;
}.e13_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:417px;
	height:55px;
	position:absolute;
	left:872px;
	top:507px;
}