.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e12_53 { 
	width:1536px;
	height:753px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/free_business_theme_psd_2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e12_54 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 0);
	width:46px;
	height:44px;
	position:absolute;
	left:239px;
	top:20px;
}.e12_55 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:37px;
	height:10px;
	position:absolute;
	left:586px;
	top:37px;
}.e12_56 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:51px;
	height:10px;
	position:absolute;
	left:657px;
	top:37px;
}.e12_57 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:62px;
	height:10px;
	position:absolute;
	left:741px;
	top:37px;
}.e12_58 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:89px;
	height:10px;
	position:absolute;
	left:837px;
	top:37px;
}.e12_59 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:87px;
	height:10px;
	position:absolute;
	left:960px;
	top:37px;
}.e12_60 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:92px;
	height:10px;
	position:absolute;
	left:1081px;
	top:37px;
}.e12_61 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:77px;
	height:10px;
	position:absolute;
	left:1206px;
	top:37px;
}.e12_62 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:544px;
	height:24px;
	position:absolute;
	left:499px;
	top:182px;
}.e12_63 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:654px;
	height:17px;
	position:absolute;
	left:443px;
	top:215px;
}.e12_64 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:257px;
	height:43px;
	position:absolute;
	left:275px;
	top:260px;
}.e12_65 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:255px;
	height:43px;
	position:absolute;
	left:539px;
	top:260px;
}.e12_66 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:257px;
	height:43px;
	position:absolute;
	left:801px;
	top:260px;
}.e12_67 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:192px;
	height:43px;
	position:absolute;
	left:1065px;
	top:260px;
}.e12_68 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:14px;
	position:absolute;
	left:289px;
	top:274px;
}.e12_70 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:14px;
	position:absolute;
	left:552px;
	top:274px;
}.e12_72 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:14px;
	position:absolute;
	left:815px;
	top:274px;
}.e12_69 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:56px;
	height:10px;
	position:absolute;
	left:313px;
	top:277px;
}.e12_71 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:79px;
	height:10px;
	position:absolute;
	left:578px;
	top:277px;
}.e12_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:84px;
	height:10px;
	position:absolute;
	left:839px;
	top:277px;
}.e12_74 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:192px;
	height:43px;
	position:absolute;
	left:1065px;
	top:260px;
}.e12_75 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:112px;
	height:13px;
	position:absolute;
	left:1104px;
	top:275px;
}.e12_76 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:586px;
	height:313px;
	position:absolute;
	left:476px;
	top:361px;
}.e12_77 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:54px;
	height:14px;
	position:absolute;
	left:741px;
	top:692px;
}