.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e21_2 { 
	width:1536px;
	height:773px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/works_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e21_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:215px;
	height:21px;
	position:absolute;
	left:660px;
	top:138px;
}.e21_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:332px;
	height:16px;
	position:absolute;
	left:602px;
	top:165px;
}.e21_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:58px;
	height:15px;
	position:absolute;
	left:333px;
	top:424px;
}.e21_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:194px;
	height:50px;
	position:absolute;
	left:265px;
	top:463px;
}.e21_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:58px;
	height:15px;
	position:absolute;
	left:603px;
	top:424px;
}.e21_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:193px;
	height:52px;
	position:absolute;
	left:536px;
	top:463px;
}.e21_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:57px;
	height:15px;
	position:absolute;
	left:875px;
	top:424px;
}.e21_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:194px;
	height:52px;
	position:absolute;
	left:807px;
	top:463px;
}.e21_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:57px;
	height:15px;
	position:absolute;
	left:1146px;
	top:424px;
}.e21_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:194px;
	height:53px;
	position:absolute;
	left:1078px;
	top:463px;
}.e21_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:150px;
	height:42px;
	position:absolute;
	left:694px;
	top:597px;
}.e21_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:99px;
	height:11px;
	position:absolute;
	left:719px;
	top:612px;
}