.22_42 { 
	overflow:hidden;
}.e22_42 { 
	background-color:rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
	width:1536px;
	height:790px;
	position:absolute;
}.e25_79 { 
	width:1185px;
	height:790px;
	position:absolute;
	left:175px;
	top:0px;
	background-image:url(images/______________1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e25_64 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:310px;
	height:82px;
	position:absolute;
	left:614px;
	top:64px;
}.e25_65 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:668px;
	height:47px;
	position:absolute;
	left:434px;
	top:199px;
}.e25_66 { 
	background-color:rgba(1.0000000591389835, 3.000000058673322, 18.000000827014446, 1);
	width:41px;
	height:20px;
	position:absolute;
	left:486px;
	top:334px;
}.e25_67 { 
	background-color:rgba(168.0000051856041, 168.0000051856041, 170.0000050663948, 1);
	width:1536px;
	height:1px;
	position:absolute;
	left:0px;
	top:333px;
}.e25_68 { 
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:18px;
	position:absolute;
	left:482px;
	top:315px;
}.e25_69 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:8px;
	position:absolute;
	left:785px;
	top:316px;
}.e25_70 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:33px;
	height:8px;
	position:absolute;
	left:814px;
	top:316px;
}.e25_71 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:36px;
	height:8px;
	position:absolute;
	left:854px;
	top:316px;
}.e25_72 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:24px;
	height:8px;
	position:absolute;
	left:897px;
	top:316px;
}.e25_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:38px;
	height:8px;
	position:absolute;
	left:929px;
	top:316px;
}.e25_74 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:29px;
	height:8px;
	position:absolute;
	left:974px;
	top:316px;
}.e25_75 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:32px;
	height:8px;
	position:absolute;
	left:1010px;
	top:316px;
}.e25_77 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:239px;
	height:23px;
	position:absolute;
	left:489px;
	top:532px;
}.e25_78 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:152px;
	height:66px;
	position:absolute;
	left:486px;
	top:579px;
}