.2_2 { 
	overflow:hidden;
}.e2_2 { 
	background-color:rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e3_2 { 
	width:1185px;
	height:792px;
	position:absolute;
	left:176px;
	top:0px;
	background-image:url(images/sdfgh_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e3_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:176px;
	height:792px;
	position:absolute;
	left:0px;
	top:0px;
}.e3_4 { 
	background-color:rgba(235.0000011920929, 235.0000011920929, 235.0000011920929, 1);
	width:176px;
	height:792px;
	position:absolute;
	left:1360px;
	top:0px;
}.e3_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:31px;
	height:11.300000190734863px;
	position:absolute;
	left:634px;
	top:77px;
}.e3_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:11px;
	height:4.300000190734863px;
	position:absolute;
	left:652px;
	top:88px;
}.e3_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:35px;
	height:8.300000190734863px;
	position:absolute;
	left:973px;
	top:78px;
}.e3_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:31px;
	height:8.300000190734863px;
	position:absolute;
	left:1025px;
	top:78px;
}.e3_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:34px;
	height:8.300000190734863px;
	position:absolute;
	left:1074px;
	top:78px;
}.e3_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:34px;
	height:8.300000190734863px;
	position:absolute;
	left:1125px;
	top:78px;
}.e3_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:70px;
	height:24px;
	position:absolute;
	left:278.70001220703125px;
	top:339px;
}.e3_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:6px;
	position:absolute;
	left:322px;
	top:367px;
}.e3_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:150px;
	height:90px;
	position:absolute;
	left:280.5px;
	top:400px;
}.e3_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:36px;
	height:12px;
	position:absolute;
	left:775px;
	top:314.70001220703125px;
}.e3_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:12.300000190734863px;
	height:4.300000190734863px;
	position:absolute;
	left:795px;
	top:326.70001220703125px;
}.e3_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:54px;
	height:11px;
	position:absolute;
	left:871px;
	top:572px;
}.e3_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:13px;
	height:4px;
	position:absolute;
	left:911px;
	top:582px;
}.e3_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:511px;
	height:33px;
	position:absolute;
	left:642px;
	top:619px;
}.e3_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:120px;
	height:30px;
	position:absolute;
	left:838px;
	top:688px;
}.e3_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:75px;
	height:9px;
	position:absolute;
	left:870px;
	top:699px;
}.e3_22 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:12px;
	height:11px;
	position:absolute;
	left:853px;
	top:698px;
}.e3_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:776px;
	height:438px;
	position:absolute;
	left:513px;
	top:101px;
}