.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(230.00000149011612, 231.00000143051147, 233.00000131130219, 1);
	width:1536px;
	height:790px;
	position:absolute;
}.e13_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:525px;
	height:38px;
	position:absolute;
	left:504px;
	top:120px;
}.e13_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:9px;
	position:absolute;
	left:537px;
	top:215px;
}.e13_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:19px;
	height:15px;
	position:absolute;
	left:562px;
	top:210px;
}.e13_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:8px;
	height:12px;
	position:absolute;
	left:963px;
	top:214px;
}.e13_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:8px;
	height:12px;
	position:absolute;
	left:986px;
	top:214px;
}.e13_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:114px;
	height:138px;
	position:absolute;
	left:534px;
	top:237px;
}.e13_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:114px;
	height:138px;
	position:absolute;
	left:534px;
	top:419px;
}.e13_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:114px;
	height:138px;
	position:absolute;
	left:651px;
	top:419px;
}.e13_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:114px;
	height:138px;
	position:absolute;
	left:768px;
	top:419px;
}.e13_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:114px;
	height:138px;
	position:absolute;
	left:885px;
	top:419px;
}.e13_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:114px;
	height:138px;
	position:absolute;
	left:651px;
	top:237px;
}.e13_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:114px;
	height:138px;
	position:absolute;
	left:768px;
	top:237px;
}.e13_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:114px;
	height:138px;
	position:absolute;
	left:885px;
	top:237px;
}.e13_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:537px;
	top:383px;
}.e13_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:537px;
	top:563px;
}.e13_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:653px;
	top:563px;
}.e13_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:653px;
	top:575px;
}.e13_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:653px;
	top:383px;
}.e13_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:769px;
	top:383px;
}.e13_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:769px;
	top:395px;
}.e13_34 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:769px;
	top:563px;
}.e13_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:885px;
	top:563px;
}.e13_36 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:885px;
	top:575px;
}.e13_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:885px;
	top:383px;
}.e13_22 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:885px;
	top:395px;
}.e13_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:8px;
	position:absolute;
	left:653px;
	top:395px;
}.e13_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:56px;
	height:17px;
	position:absolute;
	left:562px;
	top:385px;
}.e13_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:61px;
	height:20px;
	position:absolute;
	left:561px;
	top:564px;
}.e13_37 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:67px;
	height:20px;
	position:absolute;
	left:677px;
	top:563px;
}.e13_38 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:67px;
	height:20px;
	position:absolute;
	left:793px;
	top:563px;
}.e13_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:67px;
	height:20px;
	position:absolute;
	left:793px;
	top:563px;
}.e13_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:67px;
	height:20px;
	position:absolute;
	left:909px;
	top:563px;
}.e13_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:61px;
	height:17px;
	position:absolute;
	left:677px;
	top:385px;
}.e13_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:61px;
	height:17px;
	position:absolute;
	left:909px;
	top:385px;
}.e13_41 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:61px;
	height:17px;
	position:absolute;
	left:793px;
	top:385px;
}.e13_2 { 
	width:1185px;
	height:790px;
	position:absolute;
	left:175px;
	top:9.094947017729282e-13px;
	background-image:url(images/62429cac_65ec_424a_bf8d_2fb5b2c6ba76_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}