.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(242.00000077486038, 246.0000005364418, 247.00000047683716, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e42_41 { 
	background-color:rgba(37.00000159442425, 84.00000259280205, 216.00000232458115, 1);
	width:175px;
	height:150px;
	position:absolute;
	left:1361px;
	top:642px;
}.e42_42 { 
	background-color:rgba(38.0000015348196, 84.00000259280205, 221.00000202655792, 1);
	width:174px;
	height:404px;
	position:absolute;
	left:0px;
	top:0px;
}.e42_43 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:210px;
	height:60px;
	position:absolute;
	left:248px;
	top:76px;
}.e42_44 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:39px;
	height:10px;
	position:absolute;
	left:297px;
	top:240px;
}.e42_46 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:6px;
	position:absolute;
	left:479px;
	top:242px;
}.e42_48 { 
	background-color:rgba(31.000000052154064, 40.00000141561031, 45.00000111758709, 1);
	width:16px;
	height:4px;
	position:absolute;
	left:478px;
	top:248px;
}.e42_49 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:6px;
	position:absolute;
	left:501px;
	top:242px;
}.e42_50 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:6px;
	position:absolute;
	left:537px;
	top:242px;
}.e42_51 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:6px;
	position:absolute;
	left:573px;
	top:242px;
}.e42_52 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:23px;
	height:6px;
	position:absolute;
	left:612px;
	top:242px;
}.e42_53 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:24px;
	height:6px;
	position:absolute;
	left:642px;
	top:242px;
}.e42_54 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:19px;
	height:6px;
	position:absolute;
	left:673px;
	top:242px;
}.e42_55 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:140px;
	height:13px;
	position:absolute;
	left:297px;
	top:342px;
}.e42_56 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:183px;
	height:15px;
	position:absolute;
	left:298px;
	top:361px;
}.e42_57 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:42px;
	height:18px;
	position:absolute;
	left:297px;
	top:391px;
}.e42_58 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:5px;
	position:absolute;
	left:305px;
	top:398px;
}.e42_59 { 
	background-color:rgba(29.000000171363354, 38.0000015348196, 43.00000123679638, 1);
	width:8px;
	height:57px;
	position:absolute;
	left:260px;
	top:440px;
}.e42_60 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:73px;
	height:8px;
	position:absolute;
	left:619px;
	top:490px;
}.e42_61 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:39px;
	height:9px;
	position:absolute;
	left:297px;
	top:593px;
}.e42_62 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:345px;
	height:11px;
	position:absolute;
	left:322px;
	top:719px;
}.e42_63 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:74px;
	height:11px;
	position:absolute;
	left:458px;
	top:735px;
}.e42_64 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:39px;
	height:14px;
	position:absolute;
	left:475px;
	top:764px;
}.e42_65 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:5px;
	position:absolute;
	left:481px;
	top:769px;
}.e42_66 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:12px;
	position:absolute;
	left:448px;
	top:677px;
}.e42_67 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:12px;
	position:absolute;
	left:475px;
	top:677px;
}.e42_68 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:12px;
	height:6px;
	position:absolute;
	left:450px;
	top:694px;
}.e42_69 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:15px;
	height:6px;
	position:absolute;
	left:475px;
	top:694px;
}.e42_70 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:19px;
	height:6px;
	position:absolute;
	left:499px;
	top:694px;
}.e42_71 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:20px;
	height:6px;
	position:absolute;
	left:524px;
	top:694px;
}.e42_72 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:15px;
	height:12px;
	position:absolute;
	left:526px;
	top:677px;
}.e42_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:12px;
	position:absolute;
	left:500px;
	top:677px;
}.e42_74 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:5px;
	position:absolute;
	left:479px;
	top:595px;
}.e42_75 { 
	background-color:rgba(129.00000751018524, 119.00000050663948, 107.00000122189522, 1);
	width:16px;
	height:4px;
	position:absolute;
	left:479px;
	top:600px;
}.e42_76 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:5px;
	position:absolute;
	left:502px;
	top:595px;
}.e42_77 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:5px;
	position:absolute;
	left:537px;
	top:595px;
}.e42_78 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:5px;
	position:absolute;
	left:573px;
	top:595px;
}.e42_79 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:21px;
	height:5px;
	position:absolute;
	left:613px;
	top:595px;
}.e42_80 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:21px;
	height:5px;
	position:absolute;
	left:644px;
	top:595px;
}.e42_81 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:19px;
	height:5px;
	position:absolute;
	left:673px;
	top:595px;
}.e42_82 { 
	background-color:rgba(244.0000006556511, 248.0000004172325, 249.00000035762787, 1);
	width:9px;
	height:56px;
	position:absolute;
	left:805px;
	top:643px;
}.e42_83 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:38px;
	height:12px;
	position:absolute;
	left:844px;
	top:442px;
}.e42_84 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:56px;
	height:9px;
	position:absolute;
	left:845px;
	top:483px;
}.e42_85 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:192px;
	height:6px;
	position:absolute;
	left:843px;
	top:505px;
}.e42_86 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:83px;
	height:6px;
	position:absolute;
	left:843px;
	top:514px;
}.e42_87 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:12px;
	height:16px;
	position:absolute;
	left:846px;
	top:536px;
}.e42_88 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:45px;
	height:6px;
	position:absolute;
	left:844px;
	top:561px;
}.e42_89 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:42px;
	height:5px;
	position:absolute;
	left:844px;
	top:571px;
}.e42_90 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:12px;
	position:absolute;
	left:844px;
	top:594px;
}.e42_91 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:47px;
	height:6px;
	position:absolute;
	left:845px;
	top:618px;
}.e42_92 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:41px;
	height:5px;
	position:absolute;
	left:845px;
	top:627px;
}.e42_93 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:11px;
	height:17px;
	position:absolute;
	left:930px;
	top:536px;
}.e42_94 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:73px;
	height:5px;
	position:absolute;
	left:927px;
	top:562px;
}.e42_95 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:29px;
	height:5px;
	position:absolute;
	left:928px;
	top:571px;
}.e42_96 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:91px;
	height:15px;
	position:absolute;
	left:1045px;
	top:536px;
}.e42_97 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:94px;
	height:15px;
	position:absolute;
	left:1143px;
	top:536px;
}.e42_98 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:192px;
	height:15px;
	position:absolute;
	left:1045px;
	top:556px;
}.e42_99 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:192px;
	height:70px;
	position:absolute;
	left:1045px;
	top:575px;
}.e42_100 { 
	width:47px;
	height:17px;
	position:absolute;
	left:1044px;
	top:656px;
}.e42_101 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:46px;
	height:15px;
	position:absolute;
	left:1045px;
	top:657px;
}.e42_102 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:33px;
	height:7px;
	position:absolute;
	left:1052px;
	top:662px;
}.e42_103 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:5px;
	position:absolute;
	left:1269px;
	top:694px;
}.e42_104 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:5px;
	height:26px;
	position:absolute;
	left:1269px;
	top:664px;
}.e42_105 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:5px;
	position:absolute;
	left:1025px;
	top:446px;
}.e42_106 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:5px;
	position:absolute;
	left:1048px;
	top:446px;
}.e42_107 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:5px;
	position:absolute;
	left:1084px;
	top:446px;
}.e42_108 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:5px;
	position:absolute;
	left:1120px;
	top:446px;
}.e42_109 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:5px;
	position:absolute;
	left:1159px;
	top:446px;
}.e42_110 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:21px;
	height:5px;
	position:absolute;
	left:1190px;
	top:446px;
}.e42_111 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:17px;
	height:5px;
	position:absolute;
	left:1220px;
	top:446px;
}.e42_112 { 
	background-color:rgba(246.0000005364418, 247.00000047683716, 249.00000035762787, 1);
	width:20px;
	height:4px;
	position:absolute;
	left:1219px;
	top:451px;
}.e42_114 { 
	width:1187px;
	height:792px;
	position:absolute;
	left:174px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e42_123 { 
	width:1187px;
	height:792px;
	position:absolute;
	left:174px;
	top:0px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e42_118 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:39px;
	height:11px;
	position:absolute;
	left:843px;
	top:90px;
}.e42_119 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:15px;
	height:4px;
	position:absolute;
	left:1024px;
	top:94px;
}.e42_120 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:5px;
	position:absolute;
	left:1049px;
	top:94px;
}.e42_121 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:5px;
	position:absolute;
	left:1084px;
	top:94px;
}.e42_124 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:31px;
	height:5px;
	position:absolute;
	left:1119px;
	top:94px;
}.e42_125 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:23px;
	height:5px;
	position:absolute;
	left:1158px;
	top:94px;
}.e42_126 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:5px;
	position:absolute;
	left:1189px;
	top:94px;
}.e42_127 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:17px;
	height:5px;
	position:absolute;
	left:1220px;
	top:94px;
}.e42_122 { 
	background-color:rgba(115.00000074505806, 128.0000075697899, 144.00000661611557, 1);
	width:27px;
	height:3px;
	position:absolute;
	left:1084px;
	top:99px;
}.e42_128 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:65px;
	height:10px;
	position:absolute;
	left:844px;
	top:163px;
}.e42_130 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:151px;
	height:33px;
	position:absolute;
	left:844px;
	top:186px;
}.e42_131 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:15px;
	height:17px;
	position:absolute;
	left:1045px;
	top:159px;
}.e42_132 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:15px;
	position:absolute;
	left:1045px;
	top:207px;
}.e42_133 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:17px;
	height:17px;
	position:absolute;
	left:1044px;
	top:254px;
}.e42_134 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:16px;
	position:absolute;
	left:1144px;
	top:159px;
}.e42_135 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:15px;
	position:absolute;
	left:1144px;
	top:207px;
}.e42_136 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:17px;
	position:absolute;
	left:1145px;
	top:254px;
}.e42_137 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:51px;
	height:7px;
	position:absolute;
	left:1046px;
	top:184px;
}.e42_140 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:51px;
	height:7px;
	position:absolute;
	left:1145px;
	top:184px;
}.e42_138 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:60px;
	height:7px;
	position:absolute;
	left:1045px;
	top:232px;
}.e42_141 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:49px;
	height:7px;
	position:absolute;
	left:1145px;
	top:232px;
}.e42_139 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:61px;
	height:9px;
	position:absolute;
	left:1046px;
	top:279px;
}.e42_142 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:56px;
	height:9px;
	position:absolute;
	left:1145px;
	top:279px;
}