.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e2_55 { 
	background-color:rgba(78.00000295042992, 67.00000360608101, 61.00000016391277, 1);
	width:1188px;
	height:792px;
	position:absolute;
	left:174px;
	top:0px;
}.e2_54 { 
	width:1188px;
	height:792px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/full_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_56 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:81px;
	height:34px;
	position:absolute;
	left:554px;
	top:37px;
}.e2_57 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:51px;
	height:13px;
	position:absolute;
	left:569px;
	top:47px;
}.e2_58 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:33px;
	height:12px;
	position:absolute;
	left:578px;
	top:63px;
}.e2_59 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:373px;
	height:26px;
	position:absolute;
	left:408px;
	top:125px;
}.e2_61 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:668px;
	height:9px;
	position:absolute;
	left:261px;
	top:174px;
}.e2_62 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:97px;
	height:30px;
	position:absolute;
	left:494px;
	top:216px;
}.e2_63 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:97px;
	height:30px;
	position:absolute;
	left:598px;
	top:216px;
}.e2_65 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:70px;
	height:11px;
	position:absolute;
	left:507px;
	top:225px;
}.e2_66 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:69px;
	height:12px;
	position:absolute;
	left:612px;
	top:226px;
}.e2_67 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:187px;
	height:10px;
	position:absolute;
	left:501px;
	top:368px;
}.e2_68 { 
	background-color:rgba(255, 255, 255, 0);
	width:42px;
	height:15px;
	position:absolute;
	left:574px;
	top:386px;
}.e2_69 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:868px;
	height:14px;
	position:absolute;
	left:161px;
	top:429px;
}.e2_70 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:12px;
	position:absolute;
	left:0px;
	top:571px;
}.e2_72 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:5px;
	position:absolute;
	left:19px;
	top:629px;
}.e2_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:8px;
	height:3px;
	position:absolute;
	left:44px;
	top:630px;
}.e2_74 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:15px;
	height:5px;
	position:absolute;
	left:60px;
	top:629px;
}.e2_75 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:30px;
	position:absolute;
	left:0px;
	top:679px;
}.e2_76 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:64px;
	height:32px;
	position:absolute;
	left:23px;
	top:671px;
}.e2_77 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:8px;
	height:3px;
	position:absolute;
	left:293px;
	top:522px;
}.e2_78 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:3px;
	position:absolute;
	left:310px;
	top:522px;
}.e2_79 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:11px;
	height:3px;
	position:absolute;
	left:328px;
	top:522px;
}.e2_80 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:5px;
	position:absolute;
	left:434px;
	top:521px;
}.e2_81 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:11px;
	height:5px;
	position:absolute;
	left:457px;
	top:521px;
}.e2_82 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:5px;
	position:absolute;
	left:473px;
	top:521px;
}.e3_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:54px;
	height:7px;
	position:absolute;
	left:361px;
	top:557px;
}.e3_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:21px;
	height:3px;
	position:absolute;
	left:368px;
	top:566px;
}.e3_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:3px;
	position:absolute;
	left:392px;
	top:566px;
}.e3_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:4px;
	height:4px;
	position:absolute;
	left:378px;
	top:574px;
}.e3_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:7px;
	height:4px;
	position:absolute;
	left:384px;
	top:574px;
}.e3_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:4px;
	height:4px;
	position:absolute;
	left:393px;
	top:574px;
}.e3_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:49px;
	height:49px;
	position:absolute;
	left:363px;
	top:593px;
}.e3_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:31px;
	height:4px;
	position:absolute;
	left:270px;
	top:594px;
}.e3_10 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:64px;
	height:4px;
	position:absolute;
	left:270px;
	top:602px;
}.e3_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:61px;
	height:5px;
	position:absolute;
	left:270px;
	top:607px;
}.e3_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:67px;
	height:4px;
	position:absolute;
	left:270px;
	top:613px;
}.e3_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:77px;
	height:4px;
	position:absolute;
	left:270px;
	top:619px;
}.e3_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:4px;
	height:4px;
	position:absolute;
	left:339px;
	top:613px;
}.e3_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:72px;
	height:4px;
	position:absolute;
	left:270px;
	top:624px;
}.e3_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:3px;
	position:absolute;
	left:270px;
	top:630px;
}.e3_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:41px;
	height:12px;
	position:absolute;
	left:368px;
	top:654px;
}.e3_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:4px;
	position:absolute;
	left:373px;
	top:658px;
}.e3_19 { 
	background-color:rgba(3.000000058673322, 198.00000339746475, 192.00000375509262, 1);
	width:64px;
	height:78px;
	position:absolute;
	left:648px;
	top:630px;
}.e3_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:33px;
	height:31px;
	position:absolute;
	left:720px;
	top:665px;
}.e3_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:36px;
	height:4px;
	position:absolute;
	left:760px;
	top:658px;
}.e3_22 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:43px;
	height:3px;
	position:absolute;
	left:760px;
	top:664px;
}.e3_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:55px;
	height:4px;
	position:absolute;
	left:760px;
	top:669px;
}.e3_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:54px;
	height:4px;
	position:absolute;
	left:760px;
	top:674px;
}.e3_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:61px;
	height:4px;
	position:absolute;
	left:760px;
	top:679px;
}.e3_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:4px;
	position:absolute;
	left:760px;
	top:684px;
}.e3_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:61px;
	height:11px;
	position:absolute;
	left:760px;
	top:693px;
}.e3_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:19px;
	height:3px;
	position:absolute;
	left:764px;
	top:697px;
}.e3_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:3px;
	position:absolute;
	left:791px;
	top:697px;
}.e3_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:8px;
	height:3px;
	position:absolute;
	left:894px;
	top:524px;
}.e3_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:4px;
	position:absolute;
	left:894px;
	top:531px;
}.e3_34 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:11px;
	height:3px;
	position:absolute;
	left:894px;
	top:539px;
}.e3_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:15px;
	height:4px;
	position:absolute;
	left:894px;
	top:546px;
}.e3_36 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:8px;
	height:4px;
	position:absolute;
	left:894px;
	top:554px;
}.e3_37 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:13px;
	height:4px;
	position:absolute;
	left:894px;
	top:561px;
}.e3_38 { 
	background-color:rgba(53.00000064074993, 53.00000064074993, 53.00000064074993, 1);
	width:35px;
	height:25px;
	position:absolute;
	left:894px;
	top:680px;
}.e3_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:53px;
	height:8px;
	position:absolute;
	left:1100px;
	top:664px;
}.e3_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:39px;
	height:3px;
	position:absolute;
	left:1107px;
	top:673px;
}.e3_41 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:4px;
	height:4px;
	position:absolute;
	left:1117px;
	top:681px;
}.e3_42 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:2px;
	height:4px;
	position:absolute;
	left:1122px;
	top:681px;
}.e3_43 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:2px;
	height:4px;
	position:absolute;
	left:1125px;
	top:681px;
}.e3_44 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:2px;
	height:4px;
	position:absolute;
	left:1128px;
	top:681px;
}.e3_45 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:4px;
	height:4px;
	position:absolute;
	left:1131px;
	top:681px;
}.e3_46 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:38px;
	height:10px;
	position:absolute;
	left:1107px;
	top:699px;
}.e3_47 { 
	background-color:rgba(0, 178.00000458955765, 174.00000482797623, 1);
	width:22px;
	height:5px;
	position:absolute;
	left:1166px;
	top:699px;
}.e3_48 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:106px;
	height:11px;
	position:absolute;
	left:1074px;
	top:576px;
}.e3_49 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:23px;
	height:4px;
	position:absolute;
	left:1105px;
	top:590px;
}.e3_50 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:17px;
	height:4px;
	position:absolute;
	left:1130px;
	top:590px;
}.e4_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:8px;
	height:2px;
	position:absolute;
	left:-8px;
	top:145px;
}