.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(24.000000469386578, 24.000000469386578, 24.000000469386578, 1);
	width:1536px;
	height:790px;
	position:absolute;
}.e5_63 { 
	width:1184px;
	height:790px;
	position:absolute;
	left:176px;
	top:0px;
	background-image:url(images/srhrkega_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e5_64 { 
	background-color:rgba(242.00000077486038, 246.0000005364418, 247.00000047683716, 1);
	width:176px;
	height:353px;
	position:absolute;
	left:0px;
	top:437px;
}.e5_65 { 
	background-color:rgba(38.0000015348196, 84.00000259280205, 221.00000202655792, 1);
	width:176px;
	height:437px;
	position:absolute;
	left:0px;
	top:0px;
}.e5_66 { 
	background-color:rgba(38.0000015348196, 84.00000259280205, 221.00000202655792, 1);
	width:176px;
	height:150px;
	position:absolute;
	left:1360px;
	top:640px;
}.e5_67 { 
	background-color:rgba(242.00000077486038, 246.0000005364418, 247.00000047683716, 1);
	width:176px;
	height:640px;
	position:absolute;
	left:1360px;
	top:0px;
}.e5_68 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:212px;
	height:67px;
	position:absolute;
	left:250px;
	top:69px;
}.e5_69 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:42px;
	height:9px;
	position:absolute;
	left:285px;
	top:240px;
}.e5_70 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:5px;
	position:absolute;
	left:545px;
	top:241px;
}.e5_72 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:21px;
	height:5px;
	position:absolute;
	left:563px;
	top:241px;
}.e5_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:5px;
	position:absolute;
	left:586px;
	top:241px;
}.e6_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:29px;
	height:5px;
	position:absolute;
	left:618px;
	top:241px;
}.e6_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:21px;
	height:5px;
	position:absolute;
	left:651px;
	top:241px;
}.e6_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:17px;
	height:5px;
	position:absolute;
	left:676px;
	top:241px;
}.e6_5 { 
	background-color:rgba(255, 255, 255, 1);
	width:21px;
	height:62px;
	position:absolute;
	left:260px;
	top:417px;
}.e6_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:220px;
	height:16px;
	position:absolute;
	left:386px;
	top:343px;
}.e6_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:195px;
	height:8px;
	position:absolute;
	left:398px;
	top:367px;
}.e6_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:42px;
	height:17px;
	position:absolute;
	left:454px;
	top:389px;
}.e6_9 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:37px;
	height:17px;
	position:absolute;
	left:500px;
	top:389px;
}.e6_10 { 
	background-color:rgba(84.00000259280205, 108.00000116229057, 234.00000125169754, 1);
	width:79px;
	height:9px;
	position:absolute;
	left:651px;
	top:501px;
}.e6_11 { 
	background-color:rgba(255, 255, 255, 1);
	width:17px;
	height:32px;
	position:absolute;
	left:262px;
	top:758px;
}.e7_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:42px;
	height:9px;
	position:absolute;
	left:285px;
	top:591px;
}.e7_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:5px;
	position:absolute;
	left:513px;
	top:592px;
}.e7_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:5px;
	position:absolute;
	left:531px;
	top:592px;
}.e7_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:5px;
	position:absolute;
	left:562px;
	top:592px;
}.e7_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:5px;
	position:absolute;
	left:592px;
	top:592px;
}.e7_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:46px;
	height:5px;
	position:absolute;
	left:626px;
	top:592px;
}.e7_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:5px;
	position:absolute;
	left:676px;
	top:592px;
}.e7_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:31px;
	height:16px;
	position:absolute;
	left:436px;
	top:674px;
}.e7_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:20px;
	height:16px;
	position:absolute;
	left:475px;
	top:674px;
}.e7_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:16px;
	position:absolute;
	left:505px;
	top:674px;
}.e7_22 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:16px;
	position:absolute;
	left:536px;
	top:674px;
}.e7_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:12px;
	height:7px;
	position:absolute;
	left:445px;
	top:692px;
}.e7_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:7px;
	position:absolute;
	left:478px;
	top:692px;
}.e7_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:7px;
	position:absolute;
	left:507px;
	top:692px;
}.e7_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:19px;
	height:7px;
	position:absolute;
	left:537px;
	top:692px;
}.e7_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:344px;
	height:10px;
	position:absolute;
	left:324px;
	top:719px;
}.e7_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:74px;
	height:10px;
	position:absolute;
	left:459px;
	top:734px;
}.e7_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:43px;
	height:17px;
	position:absolute;
	left:453px;
	top:761px;
}.e7_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:37px;
	height:17px;
	position:absolute;
	left:500px;
	top:761px;
}.e7_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:5px;
	position:absolute;
	left:462px;
	top:395px;
}.e7_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:5px;
	position:absolute;
	left:507px;
	top:395px;
}.e7_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:5px;
	position:absolute;
	left:462px;
	top:767px;
}.e7_34 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:23px;
	height:6px;
	position:absolute;
	left:507px;
	top:766px;
}.e7_35 { 
	background-color:rgba(255, 255, 255, 1);
	width:22px;
	height:63px;
	position:absolute;
	left:802px;
	top:620px;
}.e7_36 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:42px;
	height:8px;
	position:absolute;
	left:830px;
	top:443px;
}.e7_37 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:7px;
	position:absolute;
	left:1058px;
	top:442px;
}.e7_38 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:7px;
	position:absolute;
	left:1076px;
	top:442px;
}.e7_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:7px;
	position:absolute;
	left:1107px;
	top:442px;
}.e7_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:29px;
	height:7px;
	position:absolute;
	left:1137px;
	top:442px;
}.e7_41 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:47px;
	height:7px;
	position:absolute;
	left:1170px;
	top:442px;
}.e7_42 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:18px;
	height:7px;
	position:absolute;
	left:1221px;
	top:442px;
}.e7_43 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:292px;
	height:16px;
	position:absolute;
	left:894px;
	top:545px;
}.e7_44 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:238px;
	height:7px;
	position:absolute;
	left:922px;
	top:569px;
}.e7_45 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:42px;
	height:17px;
	position:absolute;
	left:998px;
	top:592px;
}.e7_46 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:5px;
	position:absolute;
	left:1006px;
	top:598px;
}.e8_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:37px;
	height:17px;
	position:absolute;
	left:1045px;
	top:592px;
}.e8_3 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:6px;
	position:absolute;
	left:1052px;
	top:597px;
}.e10_4 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:43px;
	height:8px;
	position:absolute;
	left:830px;
	top:91px;
}.e10_5 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:116px;
	height:14px;
	position:absolute;
	left:982px;
	top:193px;
}.e10_6 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:58px;
	height:8px;
	position:absolute;
	left:1011px;
	top:217px;
}.e10_7 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:43px;
	height:16px;
	position:absolute;
	left:999px;
	top:241px;
}.e10_8 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:36px;
	height:16px;
	position:absolute;
	left:1046px;
	top:241px;
}.e10_9 { 
	background-color:rgba(10.000000353902578, 19.0000007674098, 24.000000469386578, 1);
	width:77px;
	height:12px;
	position:absolute;
	left:1198px;
	top:352px;
}.e10_10 { 
	background-color:rgba(5.000000176951289, 13.000000175088644, 15.000000055879354, 1);
	width:11px;
	height:64px;
	position:absolute;
	left:810px;
	top:267px;
}