.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(1.0000000591389835, 26.000000350177288, 83.00000265240669, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e27_19 { 
	width:1189px;
	height:792px;
	position:absolute;
	left:173px;
	top:0px;
	background-image:url(images/611bcc23_f289_499d_baf8_5ef631388492_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e28_45 { 
	width:790px;
	height:740px;
	position:absolute;
	left:468px;
	top:52px;
}.e27_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:276px;
	height:67px;
	position:absolute;
	left:182px;
	top:673px;
}.e27_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:156px;
	height:11px;
	position:absolute;
	left:1px;
	top:90px;
}.e27_22 { 
	background-color:rgba(0, 17.00000088661909, 47.0000009983778, 1);
	width:6px;
	height:5px;
	position:absolute;
	left:158px;
	top:93px;
}.e27_23 { 
	background-color:rgba(1.0000000591389835, 26.000000350177288, 83.00000265240669, 0);
	width:547px;
	height:35px;
	position:absolute;
	left:26px;
	top:0px;
}.e27_24 { 
	background-color:rgba(0, 16.000000946223736, 50.000000819563866, 1);
	width:85px;
	height:11px;
	position:absolute;
	left:522px;
	top:90px;
}.e27_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:74px;
	height:20px;
	position:absolute;
	left:1px;
	top:118px;
}.e27_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:75px;
	height:8px;
	position:absolute;
	left:2px;
	top:142px;
}.e27_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:29px;
	height:8px;
	position:absolute;
	left:149px;
	top:131px;
}.e27_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:48px;
	height:8px;
	position:absolute;
	left:274px;
	top:131px;
}.e27_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:32px;
	height:8px;
	position:absolute;
	left:210px;
	top:131px;
}.e27_30 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:58px;
	height:8px;
	position:absolute;
	left:357px;
	top:131px;
}.e27_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:8px;
	position:absolute;
	left:449px;
	top:131px;
}.e27_32 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:36px;
	height:8px;
	position:absolute;
	left:511px;
	top:131px;
}.e27_33 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:15px;
	height:15px;
	position:absolute;
	left:568px;
	top:128px;
}.e28_34 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:9px;
	height:9px;
	position:absolute;
	left:590px;
	top:131px;
}.e28_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:236px;
	height:15px;
	position:absolute;
	left:1px;
	top:291px;
}.e28_36 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:358px;
	height:30px;
	position:absolute;
	left:3px;
	top:327px;
}.e28_37 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:204px;
	height:23px;
	position:absolute;
	left:1px;
	top:363px;
}.e28_38 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:84px;
	height:28px;
	position:absolute;
	left:1px;
	top:410px;
}.e28_39 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:38px;
	height:7px;
	position:absolute;
	left:24px;
	top:420px;
}.e28_40 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:154px;
	height:38px;
	position:absolute;
	left:0px;
	top:580px;
}.e28_41 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:10px;
	height:39px;
	position:absolute;
	left:170px;
	top:579px;
}.e28_42 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:281px;
	height:38px;
	position:absolute;
	left:193px;
	top:580px;
}.e28_43 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:87px;
	height:30px;
	position:absolute;
	left:514px;
	top:584px;
}.e28_44 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:598px;
	height:409px;
	position:absolute;
	left:192px;
	top:150px;
}