.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(1.0000000591389835, 195.0000035762787, 169.00000512599945, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e45_191 { 
	width:1084px;
	height:792px;
	position:absolute;
	left:226px;
	top:0px;
	background-image:url(images/7fd188fc_bc4c_4f38_96b6_777199f68594_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e45_192 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:155px;
	height:3px;
	position:absolute;
	left:690px;
	top:4px;
}.e45_193 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:131px;
	height:9px;
	position:absolute;
	left:703px;
	top:13px;
}.e45_194 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:186px;
	height:13px;
	position:absolute;
	left:676px;
	top:230px;
}.e45_195 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:214px;
	height:25px;
	position:absolute;
	left:663px;
	top:252px;
}.e45_196 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:55px;
	height:10px;
	position:absolute;
	left:515px;
	top:570px;
}.e45_197 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:61px;
	height:11px;
	position:absolute;
	left:615px;
	top:570px;
}.e45_198 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:45px;
	height:11px;
	position:absolute;
	left:720px;
	top:570px;
}.e45_199 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:45px;
	height:11px;
	position:absolute;
	left:810px;
	top:570px;
}.e45_200 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:11px;
	position:absolute;
	left:900px;
	top:570px;
}.e45_201 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:52px;
	height:11px;
	position:absolute;
	left:974px;
	top:570px;
}.e45_202 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:520px;
	height:21px;
	position:absolute;
	left:509px;
	top:677px;
}.e45_203 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:780px;
	height:34px;
	position:absolute;
	left:379px;
	top:725px;
}.e48_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:23px;
	height:22px;
	position:absolute;
	left:1278px;
	top:754px;
}