.2_2 { 
	overflow:hidden;
}.e2_2 { 
	background-color:rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e2_77 { 
	background-color:rgba(17.00000088661909, 17.00000088661909, 17.00000088661909, 1);
	width:1191px;
	height:794px;
	position:absolute;
	left:173px;
	top:-2px;
}.e2_78 { 
	width:1191px;
	height:794px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/full_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e2_79 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:273px;
	height:82px;
	position:absolute;
	left:460px;
	top:50px;
}.e2_80 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:170px;
	height:33px;
	position:absolute;
	left:510px;
	top:162px;
}.e2_81 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:17px;
	position:absolute;
	left:623px;
	top:247px;
}.e2_82 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:6px;
	position:absolute;
	left:730px;
	top:252px;
}.e2_83 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:6px;
	position:absolute;
	left:766px;
	top:252px;
}.e2_84 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:33px;
	height:6px;
	position:absolute;
	left:812px;
	top:252px;
}.e2_85 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:19px;
	height:6px;
	position:absolute;
	left:864px;
	top:252px;
}.e2_86 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:15px;
	height:6px;
	position:absolute;
	left:902px;
	top:252px;
}.e2_87 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:6px;
	position:absolute;
	left:936px;
	top:252px;
}.e2_88 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:136px;
	height:24px;
	position:absolute;
	left:623px;
	top:355px;
}.e2_89 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:181px;
	height:24px;
	position:absolute;
	left:627px;
	top:382px;
}.e2_90 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:31px;
	height:4px;
	position:absolute;
	left:150px;
	top:328px;
}.e2_91 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:35px;
	height:5px;
	position:absolute;
	left:646px;
	top:425px;
}.e2_92 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:6px;
	position:absolute;
	left:538px;
	top:550px;
}.e2_93 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:48px;
	height:15px;
	position:absolute;
	left:625px;
	top:659px;
}.e2_94 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:36px;
	height:12px;
	position:absolute;
	left:756px;
	top:659px;
}.e2_95 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:73px;
	height:26px;
	position:absolute;
	left:624px;
	top:682px;
}.e2_96 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:76px;
	height:26px;
	position:absolute;
	left:757px;
	top:682px;
}.e2_97 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:59px;
	height:15px;
	position:absolute;
	left:883px;
	top:659px;
}.e2_98 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:78px;
	height:26px;
	position:absolute;
	left:883px;
	top:682px;
}.e2_99 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:15px;
	position:absolute;
	left:625px;
	top:721px;
}.e2_100 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:15px;
	position:absolute;
	left:759px;
	top:721px;
}.e2_101 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:15px;
	position:absolute;
	left:882px;
	top:721px;
}.e2_102 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:7px;
	position:absolute;
	left:642px;
	top:725px;
}.e2_103 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:7px;
	position:absolute;
	left:776px;
	top:725px;
}.e2_104 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:16px;
	height:7px;
	position:absolute;
	left:899px;
	top:725px;
}.e2_105 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:85px;
	height:46px;
	position:absolute;
	left:136px;
	top:307px;
}.e2_106 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:87px;
	height:45px;
	position:absolute;
	left:517px;
	top:532px;
}.e2_107 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:80px;
	height:26px;
	position:absolute;
	left:624px;
	top:415px;
}.e2_108 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:556px;
	height:308px;
	position:absolute;
	left:516px;
	top:224px;
}.e2_109 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:379px;
	height:207px;
	position:absolute;
	left:136px;
	top:587px;
}