.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(254.00000005960464, 108.00000116229057, 57.00000040233135, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e29_46 { 
	width:1154px;
	height:769px;
	position:absolute;
	left:191px;
	top:12px;
	background-image:url(images/bafd33b0_7f18_492b_bdb0_f009d5eeac3a_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e29_86 { 
	width:946px;
	height:565px;
	position:absolute;
	left:296px;
	top:106px;
}.e29_47 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:946px;
	height:1px;
	position:absolute;
	left:0px;
	top:0px;
}.e29_48 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:14px;
	position:absolute;
	left:297px;
	top:7px;
}.e29_49 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:14px;
	position:absolute;
	left:315px;
	top:7px;
}.e29_50 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:14px;
	position:absolute;
	left:333px;
	top:7px;
}.e29_51 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:14px;
	height:14px;
	position:absolute;
	left:437px;
	top:7px;
}.e29_52 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:55px;
	height:7px;
	position:absolute;
	left:454px;
	top:9px;
}.e29_53 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:9px;
	height:7px;
	position:absolute;
	left:526px;
	top:9px;
}.e29_56 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:9px;
	height:7px;
	position:absolute;
	left:632px;
	top:9px;
}.e29_58 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:9px;
	height:7px;
	position:absolute;
	left:692px;
	top:9px;
}.e29_55 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:77px;
	height:7px;
	position:absolute;
	left:538px;
	top:9px;
}.e29_57 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:7px;
	position:absolute;
	left:646px;
	top:9px;
}.e29_59 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:27px;
	height:7px;
	position:absolute;
	left:706px;
	top:9px;
}.e29_60 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:32px;
	height:28px;
	position:absolute;
	left:199px;
	top:40px;
}.e29_61 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:62px;
	height:11px;
	position:absolute;
	left:235px;
	top:44px;
}.e29_62 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:61px;
	height:7px;
	position:absolute;
	left:235px;
	top:57px;
}.e29_63 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:36px;
	height:17px;
	position:absolute;
	left:409px;
	top:45px;
}.e29_64 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:6px;
	position:absolute;
	left:417px;
	top:50px;
}.e29_65 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:26px;
	height:6px;
	position:absolute;
	left:456px;
	top:50px;
}.e29_66 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:37px;
	height:6px;
	position:absolute;
	left:499px;
	top:50px;
}.e29_67 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:51px;
	height:6px;
	position:absolute;
	left:553px;
	top:50px;
}.e29_68 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:25px;
	height:6px;
	position:absolute;
	left:621px;
	top:50px;
}.e29_69 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:19px;
	height:6px;
	position:absolute;
	left:664px;
	top:50px;
}.e29_70 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:35px;
	height:6px;
	position:absolute;
	left:701px;
	top:50px;
}.e29_73 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:317px;
	height:21px;
	position:absolute;
	left:180px;
	top:180px;
}.e29_72 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:11px;
	height:11px;
	position:absolute;
	left:754px;
	top:48px;
}.e29_74 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:212px;
	height:20px;
	position:absolute;
	left:180px;
	top:205px;
}.e29_75 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:276px;
	height:9px;
	position:absolute;
	left:179px;
	top:243px;
}.e29_76 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:276px;
	height:9px;
	position:absolute;
	left:180px;
	top:257px;
}.e29_77 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:79px;
	height:28px;
	position:absolute;
	left:180px;
	top:288px;
}.e29_78 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:78px;
	height:28px;
	position:absolute;
	left:272px;
	top:288px;
}.e29_79 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:193px;
	height:15px;
	position:absolute;
	left:377px;
	top:464px;
}.e29_80 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:217px;
	height:10px;
	position:absolute;
	left:366px;
	top:491px;
}.e29_81 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:129px;
	height:30px;
	position:absolute;
	left:200px;
	top:535px;
}.e29_82 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:129px;
	height:30px;
	position:absolute;
	left:340px;
	top:535px;
}.e29_83 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:129px;
	height:30px;
	position:absolute;
	left:480px;
	top:535px;
}.e29_84 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:129px;
	height:30px;
	position:absolute;
	left:620px;
	top:535px;
}.e29_85 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:243px;
	height:204px;
	position:absolute;
	left:537px;
	top:146px;
}.e29_87 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:45px;
	height:7px;
	position:absolute;
	left:492px;
	top:403px;
}.e29_88 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:45px;
	height:7px;
	position:absolute;
	left:584px;
	top:403px;
}