.4_2 { 
	overflow:hidden;
}.e4_2 { 
	background-color:rgba(254.00000005960464, 108.00000116229057, 57.00000040233135, 1);
	width:1536px;
	height:792px;
	position:absolute;
}.e30_2 { 
	width:1188px;
	height:792px;
	position:absolute;
	left:174px;
	top:0px;
	background-image:url(images/4c5add20_0723_4b87_a1b8_a1a857ff324b_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e30_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:174px;
	height:55px;
	position:absolute;
	left:1362px;
	top:0px;
}.e30_10 { 
	background-color:rgba(255, 255, 255, 1);
	width:174px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
}.e30_4 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:174px;
	height:1px;
	position:absolute;
	left:0px;
	top:55px;
}.e30_8 { 
	background-color:rgba(249.00000035762787, 249.00000035762787, 249.00000035762787, 1);
	width:174px;
	height:1px;
	position:absolute;
	left:1362px;
	top:55px;
}.e30_5 { 
	background-color:rgba(236.00000113248825, 236.00000113248825, 236.00000113248825, 1);
	width:174px;
	height:532px;
	position:absolute;
	left:0px;
	top:56px;
}.e30_7 { 
	background-color:rgba(236.00000113248825, 236.00000113248825, 236.00000113248825, 1);
	width:174px;
	height:532px;
	position:absolute;
	left:1362px;
	top:56px;
}.e30_6 { 
	background-color:rgba(254.00000005960464, 254.00000005960464, 254.00000005960464, 1);
	width:174px;
	height:204px;
	position:absolute;
	left:0px;
	top:588px;
}.e30_9 { 
	background-color:rgba(254.00000005960464, 254.00000005960464, 254.00000005960464, 1);
	width:174px;
	height:204px;
	position:absolute;
	left:1362px;
	top:588px;
}.e30_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:70px;
	height:17px;
	position:absolute;
	left:405px;
	top:20px;
}.e30_12 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:30px;
	height:10px;
	position:absolute;
	left:775px;
	top:23px;
}.e30_13 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:28px;
	height:10px;
	position:absolute;
	left:825px;
	top:23px;
}.e30_14 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:25px;
	height:10px;
	position:absolute;
	left:874px;
	top:23px;
}.e30_15 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:25px;
	height:10px;
	position:absolute;
	left:921px;
	top:23px;
}.e30_16 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:46px;
	height:10px;
	position:absolute;
	left:968px;
	top:23px;
}.e30_17 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:13px;
	height:13px;
	position:absolute;
	left:1051px;
	top:23px;
}.e30_18 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:13px;
	height:13px;
	position:absolute;
	left:1081px;
	top:23px;
}.e30_19 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:22px;
	height:20px;
	position:absolute;
	left:1110px;
	top:15px;
}.e30_20 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:114px;
	height:17px;
	position:absolute;
	left:966px;
	top:243px;
}.e30_21 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:200px;
	height:62px;
	position:absolute;
	left:919px;
	top:266px;
}.e30_22 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:84px;
	height:25px;
	position:absolute;
	left:915px;
	top:340px;
}.e30_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:55px;
	height:25px;
	position:absolute;
	left:1006px;
	top:340px;
}.e30_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:55px;
	height:25px;
	position:absolute;
	left:1068px;
	top:340px;
}.e30_25 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:96px;
	height:30px;
	position:absolute;
	left:971px;
	top:392px;
}.e30_26 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:46px;
	height:10px;
	position:absolute;
	left:998px;
	top:402px;
}.e30_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:95px;
	height:21px;
	position:absolute;
	left:474px;
	top:771px;
}.e30_28 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:98px;
	height:29px;
	position:absolute;
	left:718px;
	top:690px;
}.e30_29 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
	width:95px;
	height:22px;
	position:absolute;
	left:967px;
	top:770px;
}